
body {
  margin: 0;
  background-position: center;
  height: 100vh;
  background-image:
  linear-gradient(rgb(183, 0, 255), transparent),
  linear-gradient(to top left, lime, transparent),
  linear-gradient(to top right, blue, transparent);
  background-blend-mode: screen;
}

header {
  display: flex;
  justify-content: space-between;
}

#board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid black;
  min-height: 50vh;
  margin: 45px;
  margin-top: 20vh;
  gap: 30px;
}

#timer {
  border: 3px solid black;
  display: flex;
  margin-left: 41vw;
  margin-top: -4vh;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  height: 8%;
  width: 17%;
  background-color: white;
}

#quiz-container {
  display: flex;
  flex-direction: column;
  gap: inherit;
  margin-bottom: 5px;
}

#quiz-container>div{
  border: 2px solid;
}

@media only screen and (min-width: 600px) {
  #board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    margin-top: 22vh;
    min-height: 35vh;
  }

  #timer {
    border: 3px solid black;
    display: flex;
    margin-left: 40vw;
    margin-top: -7vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    height: 13%;
    width: 18%;
    background-color: white;
  }

  #quiz-container {
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: auto;
    grid-template-areas:
      "opA opC"
      "opB opD";
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;

  }

  .optionA {
    grid-area: opA;
  }

  .optionB {
    grid-area: opB;
  }

  .optionC {
    grid-area: opC;
  }

  .optionD {
    grid-area: opD;
  }
}

@media only screen and (min-width: 1024px) {

  #game {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #board {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    border: 3px solid black;
    width: 70vw;
    min-height: 60vh;
    margin: 45px;
    margin-top: 22vh;
  }

  #timer {
    border: 3px solid black;
    display: flex;
    margin-left: 3vw;
    margin-top: -45vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    height: 17%;
    width: 13%;
    background-color: white;
  }

  #quiz-container {
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: auto;
    grid-template-areas:
      "opA opC"
      "opB opD";
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

}