body {
  margin: 0;
}

header {
  display: flex;
  background-color: gray;
  justify-content: space-between;
}

#board{
  display: flex;
  justify-content: center;
  border: 3px solid black;
  margin-top: 45px;
}

#timer{
  border: 3px solid black;
  display: flex;
  margin-left: 38vw;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  height: 10%;
  width: 20%;
}
#quiz-container{
  display: flex;
  flex-direction: column;
}