body {
  margin: 0;
  min-height: 100vh;
  background-position: center;
  background-image:
    linear-gradient(rgb(9, 6, 81), transparent),
    linear-gradient(to top left, rgb(29, 4, 48), transparent),
    linear-gradient(to top right, rgb(4, 2, 56), transparent);
  background-blend-mode: screen;
  color: white;
  font-family: 'DynaPuff', cursive;
  ;
  justify-content: center;
  align-items: center;
}

header {
  font-family: 'DynaPuff', cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  -webkit-text-stroke: 1px rgb(10, 83, 194);
  letter-spacing: 3px;
}

#category-box {
  margin: 10% 10%;
  max-height: 340px;
  border: 2px solid aliceblue;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  padding: 20%;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgb(89, 0, 255);
}

#category-box>h2 {
  letter-spacing: 2px;
  margin-top: -13px;
}

/* buttons */

#movies {
  grid-area: movie;
  width: 40vw;
  margin: 10px auto;
  background-color: rgb(2, 2, 68);
  border-radius: 20px;
  height: 5vh;
  color: aliceblue;
  box-shadow: 0 0 5px aliceblue;
  border: 1px solid aliceblue;
}

#movies:hover {
  background-color: rgb(50, 85, 155);
  font-weight: bold;
  box-shadow: 0 0 5px black;
}

#movies:active {
  background-color: rgb(6, 161, 65);
}

#animals {
  grid-area: animals;
  width: 40vw;
  margin: 10px auto;
  background-color: rgb(2, 2, 68);
  border-radius: 20px;
  height: 5vh;
  color: aliceblue;
  box-shadow: 0 0 5px aliceblue;
  border: 1px solid aliceblue;
}

#animals:hover {
  background-color: rgb(50, 85, 155);
  font-weight: bold;
  box-shadow: 0 0 5px black;
}

#animals:active {
  background-color: rgb(6, 161, 65);
}

#food {
  grid-area: food;
  width: 40vw;
  margin: 10px auto;
  background-color: rgb(2, 2, 68);
  border-radius: 20px;
  height: 5vh;
  color: aliceblue;
  box-shadow: 0 0 5px aliceblue;
  border: 1px solid aliceblue;
}

#food:hover {
  background-color: rgb(50, 85, 155);
  font-weight: bold;
  box-shadow: 0 0 5px black;
}

#food:active {
  background-color: rgb(6, 161, 65);
}

#sports {
  grid-area: computer;
  width: 40vw;
  margin: 10px auto;
  background-color: rgb(2, 2, 68);
  border-radius: 20px;
  height: 5vh;
  color: aliceblue;
  box-shadow: 0 0 5px aliceblue;
  border: 1px solid aliceblue;
}

#sports:hover {
  background-color: rgb(50, 85, 155);
  font-weight: bold;
  box-shadow: 0 0 5px black;
}

#sports:active {
  background-color: rgb(6, 161, 65);
}

#random {
  grid-area: computer;
  width: 40vw;
  margin: 10px auto;
  background-color: rgb(2, 2, 68);
  border-radius: 20px;
  height: 5vh;
  color: aliceblue;
  box-shadow: 0 0 5px aliceblue;
  border: 1px solid aliceblue;
}

#random:hover {
  background-color: rgb(50, 85, 155);
  font-weight: bold;
  box-shadow: 0 0 5px black;
}

#random:active {
  background-color: rgb(6, 161, 65);
}

.resetbtn {
  width: 70px;
  height: 35px;
  border-radius: 20px;
  border: 0;
  background-color: rgb(227, 122, 37);
  font-family: 'DynaPuff', cursive;
  font-size: 16px;
  letter-spacing: 1px;
  -webkit-text-stroke: 1px orangered;
  color: white;
  box-shadow: 0 5px 10px black;
  text-shadow: 0 0 5px orangered;
}

.resetbtn:hover {
  background-color: orangered;
  color: white;
  letter-spacing: 2px;
}


/* category text */

#category {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 0;
}

/* board */

#board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid rgb(61, 136, 202);
  border-radius: 30px;
  min-height: 50vh;
  margin: 45px 20px 0 20px;
  margin-top: 9vh;
  gap: 30px;
}

#board>p {
  padding: 4vh 8vw 2vh;
  text-align: center;
}


#timer {
  border: 3px dotted rgb(61, 136, 202);
  box-shadow: 0 0 5px;
  display: flex;
  margin-top: 5vh;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  height: 8%;
  width: 17%;
  background-color: rgb(4, 9, 90);
}

#quiz-container {
  display: flex;
  flex-direction: column;
  gap: inherit;
  margin-bottom: 5px;
}

#quiz-container>div {
  border: 2px solid;
  border-radius: 10px;
  width: 50vw;
  max-height: 4vh;
  text-align: center;
  padding: 5px 5px;
}

.correct {
  background-color: rgb(6, 161, 65);
}

.wrong {
  background-color: rgb(213, 37, 37);
}

#game {
  justify-content: center;
}

/* progress bar */

.progress-bar {
  margin: 30px auto;
  border: 3px solid rgb(61, 136, 202);
  border-radius: 10px;
  width: 200px;
  height: 20px;
  position: relative;
}

.progress-bar .progress {
  position: absolute;
  border-radius: 7px;
  width: 30%;
  height: 100%;
  background-color: rgb(213, 88, 25);
}

/* Winner box */

#winner-box {
  text-align: center;
  position: absolute;
  margin: 0 15px;
  width: 90vw;
  height: 60vh;
  background-image:
    linear-gradient(rgb(9, 6, 81), transparent),
    linear-gradient(to top left, rgb(29, 4, 48), transparent),
    linear-gradient(to top right, rgb(4, 2, 56), transparent);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid aliceblue;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgb(89, 0, 255);
}

.animate__animated.animate__fadeInDown {
  --animate-duration: 3s;
}

#winner-box>h2 {
  position: relative;
  margin: 30px;
  color: rgb(227, 122, 37);
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 25px;
}


#winner-box>p {
  font-size: 25px;
}


@media only screen and (min-width: 600px) {
  body {
    min-height: 110vh;
    font-size: 24px;
    justify-content: center;
  }

  header {
    font-size: 25px;
  }

  .resetbtn {
    width: 100px;
    height: 45px;
    font-size: 20px;

  }

  #category-box {
    width: 40vw;
    min-height: 60vh;
    font-size: 30px;
  }

  #categoriesBtns>button {
    font-size: 24px;
  }

  #board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid rgb(61, 136, 202);
    width: 90vw;
    height: 35vh;
  }

  #timer {
    margin-left: 0;
    margin-top: 4vh;
    height: 9%;
    width: 13vw;
  }

  #game {
    justify-content: center;
  }

  #quiz-container {
    width: 50%;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #quiz-container>div {
    width: 30vw;
  }

  .progress-bar {
    margin: 10vh auto;
    border: 3px solid rgb(61, 136, 202);
    border-radius: 10px;
    width: 70vw;
    height: 20px;
    position: relative;
  }

  #winner-box {
    width: 80vw;
    justify-content: space-around;
    margin-left: 10vw;
  }

  #winner-box>h2 {
    font-size: 40px;
  }

  #winner-box>p {
    margin: 0 30px;
  }

}

@media only screen and (min-width: 1024px) {

  body {
    justify-content: center;
    align-items: center;
  }

  #category-box {
    width: 50vw;
    font-size: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 10% 20%;
    height: 30vh;
  }

  #category-box>h2 {
    padding: 30px;
  }

  #categoriesBtns {
    padding: 0;
    margin: 0;
  }

  #game {
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  #timer {
    margin-top: -40vh;
    height: 10vh;
    width: 8vw;
  }

  #board {
    width: 50vw;
    height: 50vh;
  }

  #question-box {
    margin-top: 30px;
  }

  #quiz-container {
    position: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 35vw;
    margin-bottom: 10%;
  }

  #quiz-container>div {
    width: 200px;
  }

  #category {
    margin-bottom: 20px;
  }

  .progress-bar {
    width: 45vw;
  }
}